div.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 901px;
}
div.clear{
  clear: both;
}
h1.main {
  font-size: 22px;
}
span {
  font-size: 10px;
  line-height: 1;

}
div.logo {
  margin: auto;
  background-color: yellow; /*to see borders*/
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
img.fork {
float: left;
}

div.textheader {
  float: left;
  margin-left: 10px;
}

h1 {
  font-family: 'Yellowtail', cursive;
  line-height: 1px;
}
 h1.title, h5 {
  line-height: 1px;
  font-family: 'Roboto', sans-serif;
}
h1.title{
  margin-top: 70px;
}
img.pizzapie {
}
div.social {
  float: right;
}
div.recipe {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  }

div.list {
  padding-left: 70px;
  background-image: url("https://github.com/brunella10/seattle-201d23/blob/master/class-10-js_debugging-wireframe_part_2/lab/lab-assets/list-bg.png?raw=true");
  height: 220px;
}
div.firstpart {
  float: left;
  margin-left: 30px;
  margin-right:260px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
div.secondpart {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  float: left;
}
div.vanesablock {
  margin-top: 40px;
  margin-bottom: 20px;
}
img.vanesa {
  padding: 10px;
  float: left;
}
div.her {
  line-height: 1.5px;
  padding-top: 15px;
  float: left;
}
button {
  background-color: black;
  margin-top: 36px;
  margin-left: 40px;
  margin-right: 0px;
  border: none;
  color: white;
  padding: 10px 22px;
  font-size: 16px;
}
.fork2 {
}

h6 {
  line-height: 1px;
}
footer {
  display: block;
  text-align: center;
  margin-top: 120px;
}
hr.style11 {
	height: 6px;
	background: url("http://ibrahimjabbari.com/english/images/hr-11.png") repeat-x 0 0;
  border: 0;
  margin-top: 30px;
}
